.filme-info {
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.filme-info h1 {
  margin: 14px 0;
}

.filme-info img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.filme-info h3 {
  margin-top: 14px;
}

.filme-info span {
  margin: 8px 0;
}

.area-button button {
  margin: 14px 12px 0px 0px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
  text-decoration: none;
}

.area-button button:hover {
  background: #545454;
  color: #000000;
}

.area-button a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.area-button a:hover {
  text-decoration: none;
  color: #000000;
}
